---
title: Home
layout: default
---

<link rel="stylesheet" type="text/css" href="/assets/css/{{ page.title }}.min.css">
<script>
    function scrollBanner() {
        var paralaxItem = document.querySelector(".titleCCBV");
        var scrollPosition = window.scrollY;
        var topNav = document.querySelector("nav").offsetHeight;

        if (scrollPosition < 800+topNav && scrollPosition > topNav){
            // paralaxItem.style.height = (800-(scrollPosition-topNav)) +"px";
            paralaxItem.style.opacity = 1 - ((scrollPosition-topNav)/2500);
            paralaxItem.style.paddingTop = scrollPosition-topNav+0 +"px";
        }else if(scrollPosition < topNav){
            paralaxItem.style.paddingTop= +0+"px";
            paralaxItem.style.height = 800+"px";
        }
    }
    window.addEventListener('scroll', scrollBanner);
</script>
<div class="titleCCBV flex center">
    <img src="/assets/img/logo.svg" alt="CCBV Centro Cultural Barra Velha (logo)" style="max-width:100%;">
</div>
<main>
    <div class="cursos flex wrap centerH">
        <h1 class="centerText col-12 h0 wow animated zoomIn" style="animation-delay:0.5s;">Nossos Cursos</h1>
        {% for cursosTopicos in site.cursosTopicos %}
            <a href="/cursos/" class="col-4 col-m-3 wow animated flipInX slow ainherit" style="animation-delay:0.5s;"><h2 class="centerText">{{cursosTopicos.title}}</h2>{{cursosTopicos.content}}</a>
        {% endfor %}
    </div>
    <div class="eventos flex wrap centerH">
        <div class="flex center col-12"><h1 class="centerText h0 wow animated jackInTheBox" style="margin:0.7em 0;animation-delay:0.5s;">Próximos Eventos</h1></div>
        {% for eventos in site.eventos reversed %}
            <div class="col-5 col-m-4 centerText evento wow animated bounceIn" style="animation-delay:0.5s;">{{eventos.content}}</div>
        {% endfor %}
    </div>
    <div class="instagram flex">
        <h1 class="col-12 centerText" style="height: 800px">Instagram</h1>
        <!-- https://elfsight.com/help/how-to-embed-instagram-feed-to-iframe-website/ -->
        <!-- https://www.quora.com/How-do-websites-embed-an-Instagram-feed-on-their-pages -->
        <!-- https://www.google.com/search?q=instagram+iframe+page&oq=instagram+iframe+page&aqs=chrome..69i64j69i57.831j0j9&sourceid=chrome&ie=UTF-8 -->
    </div>
</main>