<footer class="flex wrap col-12 evenly">
    <div class="col-12 flex wrap evenly centerV siga">
        <h1 class="col-12">Siga o CCBV</h1>
        <a href="https://www.facebook.com/CentroCulturalCCBV" class="ainherit" target="_BLANK"><img src="/assets/img/facebook.svg" style="height:2rem;"></a>
        <a href="https://www.instagram.com/ccbv_brasil/" class="ainherit" target="_BLANK"><img src="/assets/img/instagram.svg" style="height:3rem;"></a>
    </div>
    <img src="/assets/img/line.svg" class="line">
    <div class="col-12 flex wrap evenly contate">
        <h1 class="col-12" style="padding:40px 0 20px 0;">Contate-nos</h1>
        <div class="flex center"><img src="/assets/img/phone.svg" style="height:40px;margin:5px 10px;"> (47) 3456 - 1093</div>
        <a href="https://api.whatsapp.com/send?phone=5547988477662&text=Ol%C3%A1,%20Estava%20visitando%20o%20site%20do%20CCBV.%20Est%C3%A1%20dispon%C3%ADvel?" class="ainherit flex center"  target="_BLANK"><img src="/assets/img/whatsapp.svg" style="height:40px;margin:5px 10px;">(47) 98847 - 7662</a>
    </div>
    <div class="col-12" style="padding:80px 0 40px 0">CCBV Centro Cultural Barra Velha - Venha fazer arte com a gente!</div>
</footer>