<nav class="col-12 flex wrap evenly centerV centerText">
    <a class="flex center col-b-3" href="/"><img src="/assets/img/ccbv-path.svg" alt="Centro Cultural BV" class="wow animated tada delay-1s" style="min-width:150px;max-width: 100%;" /></a>
    <div class="flex wrap center col-b-9">
        <div class="col-ss-4 col-2 dropdown">
            <a class="dropdown-title wow animated bounceIn" href="/cursos/">Cursos</a>
            <!-- <div class="dropdown-sub">
                <a class="dropdown-option" href="/cursos/">Artesanato</a>
                <a class="dropdown-option" href="/cursos/">Artes Marciais</a>
                <a class="dropdown-option" href="/cursos/">Artes Visuais</a>
                <a class="dropdown-option" href="/cursos/">Dança</a>
                <a class="dropdown-option" href="/cursos/">Música</a>
                <a class="dropdown-option" href="/cursos/">Reforço Escolar</a>
                <a class="dropdown-option" href="/cursos/">Teatro</a>
            </div> -->
        </div>
        <a class="col-ss-4 col-2 wow animated bounceIn" href="/oficinas/">Oficinas de Artes</a>
        <a class="col-ss-4 col-2 wow animated bounceIn" href="/fotos/">Fotos</a>
        <a class="col-ss-4 col-2 wow animated bounceIn" href="/unifel/">UNIFEL</a>
        <a class="col-ss-4 col-2 wow animated bounceIn" href="/contato/">Contato</a>
        <a class="col-ss-4 col-2 wow animated bounceIn" href="/sobre/">Sobre</a>
    </div>
</nav>