<nav class="col-12 flex wrap evenly centerV centerText">
    <a class="flex center col-b-3" href="/"><img src="/assets/img/ccbv-path.svg" alt="Centro Cultural BV" style="min-width:150px;max-width: 100%;" /></a>
    <div class="flex wrap center col-b-9">
        <div class="col-ss-4 col-2 dropdown">
            <a class="dropdown-title" href="/cursos/">Cursos</a>
            <div class="dropdown-sub">
                <a class="dropdown-option" href="/">Artesanato</a>
                <a class="dropdown-option" href="/">Artes Marciais</a>
                <a class="dropdown-option" href="/">Artes Visuais</a>
                <a class="dropdown-option" href="/">Dança</a>
                <a class="dropdown-option" href="/">Música</a>
                <a class="dropdown-option" href="/">Reforço Escolar</a>
                <a class="dropdown-option" href="/">Teatro</a>
            </div>
        </div>
        <a class="col-ss-4 col-2" href="/oficinas/">Oficinas de Artes</a>
        <a class="col-ss-4 col-2" href="/fotos-videos/">Fotos e Vídeos</a>
        <a class="col-ss-4 col-2" href="/contato/">Contato</a>
        <a class="col-ss-4 col-2" href="/sobre/">Sobre</a>
    </div>
</nav>