<nav class="col-12 flex wrap evenly centerV centerText">
    <a class="flex center col-b-3" href="/"><img src="/assets/img/ccbv-path.svg" style="min-width:150px;max-width: 100%;" /></a>
    <div class="flex wrap center col-b-9">
        <a class="col-ss-4 col-2" href="/cursos/">Cursos</a>
        <a class="col-ss-4 col-2" href="/oficinas/">Oficinas de Artes</a>
        <a class="col-ss-4 col-2" href="/fotos-videos/">Fotos e Vídeos</a>
        <a class="col-ss-4 col-2" href="/contato/">Contato</a>
        <a class="col-ss-4 col-2" href="/sobre/">Sobre</a>
    </div>
</nav>