form > input, form > textarea, form > button {
  width: 100%;
  padding: 15px;
  border: none;
  margin: 5px 0;
}

form > input {
  background: #fdfdff;
}

form > textarea {
  background: #fdfdff;
  height: 200px;
  resize: none;
}

form > button {
  background: #dddddd;
  font-size: 1.5rem;
}

form > button:hover {
  background: #ebebeb;
}
