.titleCCBV{
    height:800px;
    background:#491d3d;
    background-image: url("/assets/img/ccbv-home-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow:hidden;
}

.cursos{
    background-color:#f3ece6;
    background: url("/assets/img/bg.png") repeat fixed center,linear-gradient(#f3ece6,#e1d5ca);
    padding: 60px 0;
    @media only screen and (min-width: 500px) {padding: 60px 60px;}
    >a{
        padding:15px;
        margin: 15px;
        font-size:1.1rem;
        font-family: 'Roboto Mono', monospace;
        background-color: #f3ece6;
        box-shadow: #00000066 0px 30px 16px -10px;
        ul{
            padding:0px;
            text-align:center;
            li{
                list-style-type: none;
                padding:5px 0;
            }
        }
    }
}

.eventos{
    background-color:#e1d5ca;
    background: url("/assets/img/bg.png") repeat fixed center,linear-gradient(#e1d5ca,#f3ece6);
    padding: 60px 0 160px 0;
    > div.evento{
        background-color: #e1d5ca;
        margin:40px 0px;
        box-shadow: #00000066 0px 40px 16px -20px;
        font-family: 'Roboto Mono', monospace;
        @media only screen and (min-width: 500px) {margin:40px 40px;} 
        h1{font-size:3rem;margin-bottom: 0;}
        h2{margin-top: 0;}
    }
}

.instagram{
    background-color:#e1d5ca;
    background-image:url("/assets/img/instagram-background.jpg");
    background-size:cover;
    color:#ffffff;
}