body{
    background:#f3ece6;
    background-image: url("/assets/img/tracos.webp"),linear-gradient(150deg, #f3ece6, #fffbf8);
    font-family: 'Nunito', sans-serif;
    animation: backgroudColors 20s infinite;
}
// @keyframes backgroudColors{
//     0% {background-position: 0 0;}
//     50% {background-position: 20px 20px;}
//     100% {background-position: 0 0;}
// }

/* http://paletton.com/#uid=5500M0kp0dLbXp5i1ioy67DU52x */

::-webkit-scrollbar {width: 13px;}
::-webkit-scrollbar-track {background: #f3ece6;}
::-webkit-scrollbar-thumb {background: #4e114298;}
::-webkit-scrollbar-thumb:hover {background: #4e1142;}

img{max-width:100%;}

nav{
    min-height: 60px;
    background: #4E1142;
    background-image: linear-gradient(1deg, #4E1142, #710b5f);
    color:#ffffff;
    letter-spacing: 0.040rem;
    box-shadow: black 0 0 10px 1px;
    position: relative;
    font-size:1.30rem;
    word-spacing:0.2rem;
    font-family: 'Open Sans', sans-serif;
    a{
        text-decoration: unset;
        color: unset;
        max-width: 100%;
    }
    > a{
        min-height:80px;
        padding:0 40px;
    }
    > div{
        > a, .dropdown > a{
            min-height:80px;
            height:100%;
            padding:0 10px;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        > a:hover, 
        .dropdown:hover > a, 
        .dropdown > .dropdown-sub > .dropdown-option:hover
        {background-color: #00000088;transition: 0.1s all linear;}
        .dropdown{
            height: 80px;
            > .dropdown-sub{
                background: #2C0024;
                background-image: linear-gradient(#4E1142,#2C0024);
                width: 100%;
                >.dropdown-option{
                    min-height:50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 15px 10px;
                }
            }
        }
    }
}

footer{
    background-color:#0d0414;
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    > div{
        padding:20px 40px;
    }
}


/* --- Page --- */
header {
    > .pageTitle{
        height:300px;
        margin:0;
        overflow:hidden;
        @media only screen and (min-width: 600px) {font-size: 5rem;}
        font-family: 'Lexend Zetta', sans-serif;
        color:#360c15;
        background-color:#4364bf;
        background-image:url('/assets/img/title-bg.jpg');
        background-size:100% 100%;
        background-position-y: 0px;
        background-repeat: no-repeat;
        filter: hue-rotate(0DEG) saturate(1);
        animation: pageTitleFilters 15s infinite;
    }
}
.page > main{
    min-height: calc(100vh - 250px);
    width:1000px;
    max-width:100%;
    padding:30px 5%;
    margin: 0 5%;
}
main{
    background-image: linear-gradient(150deg, #f3ece6, #fffbf8);
}
@keyframes pageTitleFilters{
    0% {filter: hue-rotate(0DEG) saturate(1)}
    20% {filter: hue-rotate(15DEG) saturate(2)}
    70% {filter: hue-rotate(15DEG) saturate(2)}
    100% {filter: hue-rotate(0DEG) saturate(1)}
}